.main_house_item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  .house_item_left {
    flex: 2;
    img {
      width: 100%;
    }
  }

  .house_item_right {
    padding-left: 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .house_item_title {
      font-weight: 600;
      height: 16px;
      overflow: hidden;
    }
    .house_item_dest {
      color: #ccc;
      font-size: 12px;
      margin: 5px 0;
      height: 12px;
      overflow: hidden;
    }
    .house_item_tags {
      font-size: 12px;
      font-size: #ddd;
      padding-bottom: 5px;

      span {
        background: #f5f5f5;
        padding: 1px 2px;
        border-radius: 2px;
        color: #00c2d1;
        font-size: 12px;
        margin-right: 5px;
        &:nth-child(2) {
          color: #03cc90;
        }
      }
    }

    .house_item_price {
      color: red;
      span {
        color: red;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
